
/* header section  */
.bgImage {
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size:cover;
    overflow: hidden;
}
.logo {
    margin-top: 30px;
    margin-left: 50px;
}
.list {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    margin-right: 50px;
    font-weight: 400;
}
.heading1 {
    color: white;
    margin-left: 50px;
    margin-top: 80px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 100;
    width: 25%;
}
.p1 {
    color: white;
    width: 40%;
    margin-left: 50px;
    margin-top: 50px;
}
.button {
    margin-left: 50px;
    margin-top: 30px;
border-radius: 50px;
padding:5px 30px 5px 30px;
font-weight: 400;
background-color: #f64b3c;
/* outline: none; */
border: none;
color: white;
}
/* our chef section */
.bg2 {
   background-color: #dbbeb2;
   overflow: hidden;
}
.heading2 {
text-align: center;
margin-top: 50px;
font-weight: 700;
color: #db4a3e;

}
.p2 {
    text-align: center;
    background-color: none;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #db4a3e;

}
.vegi4 {
    margin-left: 200px;
    margin-top:-20px;
}
.vegi5 {
    margin-top: -40px;
    margin-left: 80px;
    width: 150px;
}

.ethel {

    width: 150px; 
    align-items: right;
    margin-left: 250px;
    margin-top: 20px;
    border-radius: 100px;
}
.headingethi {
text-align: right;
margin-top: 30px;
color: #db4a3e;
margin-right: 20px;

}
.pethi {
    text-align: right;
margin-top: 20px;
color: #db4a3e;
margin-right: 70px;
}
.headingfanni{
    text-align: center;
    margin-top: 30px;
    color: #db4a3e;
    
    
    }
 .fanni {

  width: 150px; 
 align-items: right;
 margin-left:130px ;
 margin-top: 20px;
 border-radius: 100px;
    }
.pfanni {
      text-align: center;
    margin-top: 20px;
    color: #db4a3e;
    /* margin-right: 70px; */
    }
.headingaiden {
text-align: left;
margin-top: 30px;
color: #db4a3e;
        
        
}
.aiden {
    
width: 150px; 
align-items: left;
margin-right: 100px;
margin-top: 20px;
border-radius: 100px;
  }
  .paiden {
 text-align: left;
margin-top: 20px;
color: #db4a3e;
margin-left: 50px;
}
.vegi3 {
    width: 100px;
    margin-left: 300px;
}
/* ============my burger========= */
.bg3{
    background-color: #f64b3c;
}
.burger {
    width: 300px;
    margin: 200px;
    border-radius: 300px;
}
.heading3 {
    margin-top: 250px;
    margin-left: 50px;
    color: white;
    
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p3 {
    margin-left: 50px;
    margin-top: 20px;
    color: white;
}
.btn2 {
    margin-left: 50px;
    margin-top: 30px;
border-radius: 50px;
padding:5px 30px 5px 30px;
font-weight: 400;
/* outline: none; */
border: none;
color:#db4a3e;
}